<%- include('../partials/header') %>
<p>
  <select>
    <% tickets.forEach(t => { %>
    <option><%= t.name %></option>
    <% }) %>
  </select>
</p>
<form id="add-ticket-form" method="POST" action="/flights/<%= flight._id %>/tickets">
  <label>Seat:</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <label>Price:</label>
  <input type="number" name="price">
  <label>Flight:</label>

  <input type="submit" value="Add Ticket">
</form>
<%- include('../partials/footer') %>
