<!DOCTYPE html>
<html>
  <head>
    <title>Flights Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flight List</h1>
    <table>
        <thead>
          <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>On Time</th>
          </tr>
        </thead>
        <tbody>
          <% flights.forEach( (m) => { %>
            <tr>
              <td><%= m.airline %></td>
              <td><%= m.airport %></td>
              <td><%= m.flightNo %></td>
              <td><%= m.departs %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
  </body>
</html>